@import url('https://fonts.googleapis.com/css2?family= Inter & display família= Inter:wght@400;700 & swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
  }

body[data-theme="t-light"]{
    --body-bg-color: hsl(0, 0%, 100%);
    --body-btnBgtoggle-color: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --body-bg-faixa-color: hsl(225, 100%, 98%);
    --cards-bg-color: hsl(227, 47%, 96%);
    --cards-bgToggle-color: hsl(230, 22%, 74%);
    --cards-textDark-color: hsl(228, 12%, 44%);
    --cards-textVeryDark-color: hsl(230, 17%, 14%)  ;
    --cards-topFacebook-color: hsl(208, 92%, 53%);
    --cards-topTwitter-color: hsl(203, 89%, 53%);
    --cards-topInstagram-color: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --cards-topYouTube-color: hsl(348, 97%, 39%);
    --title-border-color: hsl(230, 17%, 14%)  ;
    --today-up-color: hsl(163, 72%, 41%);
    --today-down-color: hsl(356, 69%, 56%);
    
}

body[data-theme="t-dark"]{
    --body-bg-color: hsl(230, 17%, 14%);
    --body-bg-faixa-color: hsl(232, 19%, 15%);
    --body-btnBgtoggle-color: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --cards-bg-color: hsl(228, 28%, 20%);
    --cards-bgToggle-color: hsl(230, 22%, 74%);
    --cards-textDark-color: hsl(228, 34%, 66%);
    --cards-textVeryDark-color: hsl(0, 0%, 100%);
    --cards-topFacebook-color: hsl(208, 92%, 53%);
    --cards-topTwitter-color: hsl(203, 89%, 53%);
    --cards-topInstagram-color: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --cards-topYouTube-color: hsl(348, 97%, 39%);
    --title-border-color: hsl(228, 12%, 44%);
    --today-up-color: hsl(163, 72%, 41%);
    --today-down-color: hsl(356, 69%, 56%);
    
}
  
  body{
    font-size: 14px;
    width: 100%;
    height: 100vh;
    background-color: var(--body-bg-color);   
   
  }
  
  .bg{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }

  #bg-1{
    background-color: var(--body-bg-faixa-color);
    width: 100%;
    height: 300px;
  }

  #bg-2{
    background-color: var(--body-bg-color);
    width: 100%;
    height: 100vh;
  }

  main{
    padding-left: 5.5em;
    padding-right: 5.5em;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;   
    height: auto;
  }

  .titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;  
  }

  .cabecalho{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    align-items: flex-start;
    margin-bottom: 1em;
    line-height: 1.5em; 
  }
  .mode{
    display: flex;    
  }

  .botao{
    display: flex;
    align-items: center;     
  }

  .toggle{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 1em;
    font-weight: 700;
    color: var(--cards-textDark-color);
    margin-right: 1em;
  }

  .checkbox{
    opacity: 0;
    position: absolute;
  }

  .label{
    background-image: var(--body-btnBgtoggle-color); 
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 26px;
    padding: 5px;
    position: relative;       
  }

  .label .ball{
    background-color: var(--body-bg-faixa-color);
    border-radius: 50%;
    position: absolute;
    top:2px;
    left:2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball{
    transform: translateX(24px);
 }

  div h1{
    font-size: 2em;
    color: var(--cards-textVeryDark-color);
}

  div h2{
    font-size: 1em;
    color: var(--cards-textDark-color);
    margin-top: 8px;
  }

  .container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .cards1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    width: 100%;
    height: auto;
  }

  .facebook, .twitter, .instagram, .youtube{
    background-color: var(--cards-bg-color);
    text-align: center;
    font-size: 0.8em;
    padding: 2em;   
    line-height: 2.3rem;   
    border-radius: 5px;
    cursor: pointer;  
}

.facebook:hover, .twitter:hover, .instagram:hover, .youtube:hover{
    background-color: var(--cards-bgToggle-color);
}

.facebook{
    border-top: 3px solid var(--cards-topFacebook-color);
}

.twitter{
    border-top: 3px solid var(--cards-topTwitter-color);   
}

.instagram{
    border-top: 3px solid transparent;
    border-image: var(--cards-topInstagram-color);
    border-image-slice: 1;    
}

.youtube{
    border-top: 3px solid var(--cards-topYouTube-color);
}

.redeSocial{
  display: flex;
  align-items: center;
  justify-content: center;   
  margin-bottom: 1rem;
  color: var(--cards-textDark-color);   
}

.redeSocial img{
   margin-right: 0.8em;  
}

.seguidores{
    margin-bottom: 1rem; 
    letter-spacing: 2px;
    color:var(--cards-textDark-color);
    text-transform: uppercase;
}

.number{
    font-size: 4.5em;
    font-weight: 700;
    color: var(--cards-textVeryDark-color);
}

.visualizacoes{
    margin-top: 1em;
    margin-bottom: 0.8em;
    color: var(--cards-textDark-color);
    font-size: 1.2em;
}
  #t1, #t2, #t3{
    color: var(--today-up-color);
  }

  #t4{
    color:var(--today-down-color)
  }

.cards2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    row-gap: 1.2em;    
    width: 100%;
    margin-bottom: 10px;    
}

 .face1, .face2, .insta1, .insta2, .twitter1, .twitter2, .tube1, .tube2{
    background-color: var(--cards-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2em;   
    font-size: 0.8em;
    line-height: 2rem;   
    border-radius: 5px;
    cursor: pointer;   
    /* align-items: center;       */
 }

  .face1:hover, .face2:hover, .insta1:hover, .insta2:hover, .twitter1:hover, .twitter2:hover, .tube1:hover, .tube2:hover{
    background-color: var(--cards-bgToggle-color);    
 }

 .acao, .quantidade{
    justify-items: flex-start;
 }

 .icone, .percent{
    text-align:end;     
 }

 .icone{
  margin-top: 11px;
 }

 .acao{
    color: var(--cards-textDark-color);
 }

 .quantidade{
    color: var(--cards-textVeryDark-color);
    font-size: 2em;
    font-weight: 700;
 }
 #p1, #p3, #p4, #p5, #p6{
  color:var(--today-up-color);
 }

 #p2, #p7, #p8{
  color:var(--today-down-color);
 }



 @media only screen and (max-width:960px) {
    


    main{
        display: flex;
        flex-direction: column;
       
    }

    
    .cards1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cards2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        row-gap: 1.5em;    
        width: 100%;
        margin-bottom: 25px;
    }
 }


 @media screen and (max-width:520px) {

    main{
       padding-left: 2.5em;
        padding-right: 2.5em ;
        height: 100vh;
    }

    
  
    .titulo{
        display: flex;
        flex-direction: column;       
    }

    .cabecalho{
        padding-bottom: 1.5em;
        border-bottom: 1px solid var(--title-border-color);
    }

    .mode{
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .cards1{
        display: flex;
       flex-direction: column;
    }

    .cards2{
        display: flex;
        flex-direction: column;
    }
 }

